{{page-title "Index"}}
<GeneralContainer>
    <div class="product item-details-page">
        <Product::Image/>
        <Product::Details/>
    </div>
    <!--
    <h5 class="mt-5">Features</h5>
    <ul>
        
            <Product::Details @color={{this.color}} @onChangeColor={{this.onChangeColor}}/>
        <li>High-performance wireless noise canceling headphones</li>
        <li>Tranceperency </li>
        <li>Autobuild Siri and Google compatiblity</li>
        <li>Upto 22 hours of listening time </li>        
    </ul>    
     Or you can comment out a large number of lines. -->

</GeneralContainer>

