{{page-title "Index"}}

<GeneralContainer>
        <Product/>
        <Product/>
</GeneralContainer>
{{!-- <GeneralContainer>
    <div class="product">
        <Product::Image/>
        <Product::Details/>
    </div>

</GeneralContainer> --}}

